﻿@model DataLayer.Image

@{
    ViewBag.Title = "ویرایش";
}

<h2>Edit</h2>
<div class="row">
    @using (Html.BeginForm("Edit", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.ImageName)
        <div class="col-md-6">
            <div class="form-horizontal">
                <h4>Image</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">انتخاب تصویر</label>
                    <input type="file" id="imgUp" name="imgUp" value="" />
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">


            <div class="panel panel-primary">
                <div class="panel-heading">نمایش تصویر</div>
                <div class="panel-body">
                    <img src="~/Img/@Model.ImageName" id="imgPriview" alt="Alternate Text" style="width:200px;height:200px" />
                </div>
            </div>

        </div>

    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{

    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPriview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#imgUp").change(function () {
            readURL(this);
        });
    </script>

}
